{% extends 'base.html' %}
{% load static %}

{% block css %}
{% static 'css/dashboard.css' %}
{% static 'css/styles.css' %}
{% endblock %}

{% block title %}MCV Dashboard Page{% endblock %}

{% block content %}
<div class="row px-4 py-4" style="background:none;">
    <div class="col-md-4 pt-4 pb-3" style="background:none;">
        <div class="row px-3 mt-4 mx-1 py-3 card bg-dark">
            <table class="table table-striped table-light table-hover table-bordered table1" >
                <thead>
                  <tr>
                    <th scope="col">SN</th>
                    <th scope="col">Bus_ID</th>
                    <th scope="col">Speed</th>
                    <th scope="col">RPM</th>
                  </tr>
                </thead>
                <tbody>
                    {% for car in all_cars  %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>
                            <form class="search_form" id="form1" method="GET">
                                <input type="text" value="{{car.car_id}}" name="carname" class="form-control" style="display:none">
                                <input type="submit" value="{{car.car_id}}" onclick="submitforms()" style="background:none;border:none">
                            </form> 
                        </td>
                        <td>{{car.car_speed}}</td>
                        <td>{{car.car_rpm}}</td>
                    </tr>
                  {% endfor %}

                </tbody>
              </table>
        </div>
        <div class="row mt-3 mx-1 px-3 py-3 my-5 card bg-dark">
            <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3445.5250987843724!2d31.471186314625776!3d30.27910961440457!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145805bed9b8923b%3A0x41b5ccabb7c832c2!2sObour%20Institutes!5e0!3m2!1sen!2seg!4v1675700800580!5m2!1sen!2seg" width="100%" height="820" style="border:4px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="row px-3 my-3 mx-1 py-3 card bg-dark">
            <table class="table table-striped table-light table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Option</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Run time since engine start</td>
                        <td>{{car_detail.car_run_time}} grams/sec</td>
                    </tr>
                    <tr>
                        <td>Engine fuel rate</td>
                        <td>{{car_detail.car_fuel_level}} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-8 px-3" style="background:none;">
        <div class="row text-center px-4 py-4 mx-2 my-5 bg-dark">
            <div class="col-md-12 card py-5">
                <button id="randomize" class="btn btn-dark" style="display:none;">Randomize</button>
                <br><br>
                <div class="row" style="display:none;" >
                    <form method="post" id="form2">
                        <label for="speed">Speed</label>
                        <input type="number" id="speed" name="speed" min="0" max="1" step="0.005" value="0.4000">

                        <label for="tacho">Tachometer</label>
                        <input type="number" id="tacho" name="tacho" min="0" max="1" step="0.005">

                        <label for="gas">Gas</label>
                        <input type="number" id="gas" name="gas" min="0" max="1" step="0.005">

                        <label for="mileage">Mileage</label>
                        <input type="number" id="mileage" name="mileage" min="0" step="1">

                        <h3>Turn Signals</h3>
                        <label for="leftSign">Left Signal</label>
                        <input type="checkbox" name="leftSign" id="leftSign" checked>

                        <label for="rightSign">Right Signal</label>
                        <input type="checkbox" name="rightSign" id="rightSign" checked>

                        <h3>Main Circle</h3>
                        <label for="dippedBeam">Dipped Beam</label>
                        <input type="number" name="dippedBeam" id="dippedBeam" min="0" max="2" step="1" value="2">

                        <label for="brake">Brake</label>
                        <input type="number" name="brake" id="brake" min="0" max="2" step="1" value="2">

                        <label for="drift">Drift</label>
                        <input type="number" name="drift" id="drift" min="0" max="2" step="1" value="2">

                        <label for="highBeam">High Beam</label>
                        <input type="number" name="highBeam" id="highBeam" min="0" max="2" step="1" value="2">

                        <label for="lock">Lock</label>
                        <input type="number" name="lock" id="lock" min="0" max="2" step="1" value="2">

                        <label for="seatBelt">Seat Belt</label>
                        <input type="number" name="seatBelt" id="seatBelt" min="0" max="2" step="1" value="2">

                        <label for="engineTemp">Engine Temp</label>
                        <input type="number" name="engineTemp" id="engineTemp" min="0" max="2" step="1" value="2">

                        <label for="stab">Stab</label>
                        <input type="number" name="stab" id="stab" min="0" max="2" step="1" value="2">

                        <label for="abs">ABS</label>
                        <input type="number" name="abs" id="abs" min="0" max="2" step="1" value="2">

                        <h3>Right Circle</h3>
                        <label for="gasIcon">Gas</label>
                        <input type="number" name="gasIcon" id="gasIcon" min="0" max="3" step="1" value="2">

                        <label for="trunk">Trunk</label>
                        <input type="number" name="trunk" id="trunk" min="0" max="2" step="1" value="2">
                        
                        <label for="bonnet">Bonnet</label>
                        <input type="number" name="bonnet" id="bonnet" min="0" max="2" step="1" value="2">
                        
                        <label for="doors">Doors</label>
                        <input type="number" name="doors" id="doors" min="0" max="2" step="1" value="2">
                        
                        <h3>Left Circle</h3>
                        <label for="battery">Battery</label>
                        <input type="number" name="battery" id="battery" min="0" max="3" step="1" value="2">
                        
                        <label for="oil">Oil</label>
                        <input type="number" name="oil" id="oil" min="0" max="3" step="1" value="2">
                        
                        <label for="engineFail">Engine Fail</label>
                        <input type="number" name="engineFail" id="engineFail" min="0" max="3" step="1" value="2"> 
                    </form>
                </div>
                <div id="speedometer" style="width:100%">
                    <div style="display: none;"><img id="sprite" src=""></div>
                    <canvas id="canvas" class="col-md-12 text-center" width="600" height="300"></canvas>
                </div>
            </div>
        </div>
        <div class="row text-center px-4 py-4 mx-1 bg-dark">
            <div class="col-md-12 card py-5 ">
                <div class="row">
                    <span id="throttle-position" class="col-md-6 radialprogress text-center text-white"></span>
                    <span id="engine-load" class=" col-md-6 radialprogress text-center text-white"></span>
                </div>
            </div>
        </div>
        <div class="row px-4 py-4 mx-1 card mt-5 bg-dark">
            <div class="col-md-12 card py-5 ">
                <h1 class="text-center">Driver Information</h1>
                <p class="text-left">Driver Name :  {{driver.driver_name}}</p>
                <p class="text-left">Driver Age :  {{driver.driver_age}}</p>
                <p class="text-left">Driver Phone :  {{driver.driver_phone}}</p>
                <p class="text-left">Driver Behaviour :  {{driver.driver_action}}</p>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5 mx-4 px-4 py-4 bg-dark" style="background:none;">
    <div class="col-md-12 card py-5">
        <h1 class="text-center">Diagnostic Trouble Codes</h1>
        <div class="row p-3">
            <img src="{% static 'img/MIL Off.png' %}" width="84" height="50" />
            <button type="button" class="btn btn-danger" id="clear-dtcs">Clear DTCs</button>
        </div>
        <table class="table table-striped table-dark table-hover table-bordered" id="dtc-table">
            <thead>
                <th scope="col">Code</th> 
                <th scope="col">Description</th>
            </thead>
            <tbody id='dtc-body'>
                {% for diag in car_detail.car_diagnostic_set.all  %}
                <tr>
                    <td>{{diag.diagnostic_sarial}}</td>
                    <td>{{diag.diagnostic_error_type}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    let myspeed = '{{car_detail.car_speed_range}}';
    let myrpm = '{{car_detail.car_rpm_range}}';
    let mydist = '{{car_detail.car_distance_range}}';
    let myengineload = '{{car_detail.car_engine_load}}';
</script>
{% endblock %}
<script type="text/javascript" src="{% static "js/demo.js" %}"></script>
{% block extrascript %}
<script>
  function submitforms(){
    document.getElementById('form1').submit();
    document.getElementById('form2').submit();
  };
</script>
<script src="{% static 'js/fraction.min.js' %}"></script>
<script src="{% static 'js/speedometer.js' %}"></script>
<script src="{% static 'js/demo.js' %}"></script>
<script>
$(document).ready(function () {
    var myengineload = '{{car_detail.car_engine_load}}';
    var mytemp = '{{car_detail.car_tempreture}}';
    var socket = new WebSocket('ws://' + window.location.host);
    var pid_map = {
        '1': 'engine-rpm',
        '2': 'vehicle-speed',
        '3': 'throttle-position',
        '4': 'engine-oil-temperature',
        '5': 'ethanol-fuel-percent',
        '6': 'maf-air-flow-rate',
        '7': 'run-time-since-engine-start',
        '8': 'engine-fuel-rate',
        '9': 'ambient-air-temperature',
        '10': 'engine-load',
    };

    function poll () {
        socket.send(JSON.stringify({
            "pids": ["1", "2", "3", "4", "6", "7", "10"]
        }));
    };

    socket.onopen = function open() {
        console.log('WebSockets connection created.');
    };

    var throttle_position_rp = radialProgress(document.getElementById('throttle-position'))
        .label("Temperature")
        .diameter(250)
        .value(mytemp)
        .render();
    
    var engine_load_rp = radialProgress(document.getElementById('engine-load'))
        .label("Engine Load")
        .diameter(250)
        .value(myengineload)
        .render();
   
    
    
    var speedometer = new Gauge("vehicle-speed", {size: 300, label: "Speed", min: 0, max: 300, minorTicks: 5,value:100})
    speedometer.render();

    var rpm_gauge = new Gauge("engine-rpm", {size: 300, label: "RPM", min: 0, max: 8000,     minorTicks: 5,value:100})
    rpm_gauge.render();

    var engine_oil_temp_gauge = new Gauge("engine-oil-temp", {size: 300, label: "Engine Oil", min: 0, max: 150, minorTicks: 5});
    engine_oil_temp_gauge.render();

    socket.onmessage = function message(event) {
        pid_data = JSON.parse(event.data)['data'];

        for (var pid in pid_data) {
            if (!pid_data.hasOwnProperty(pid))
                continue;
            console.log(pid_map[pid] + " = " + pid_data[pid]);
            if (pid_map[pid] == 'throttle-position') {
                throttle_position_rp.value(pid_data[pid]).render();
            } else if (pid_map[pid] == 'engine-load') {
                engine_load_rp.value(pid_data[pid]).render();
            } else if (pid_map[pid] == 'vehicle-speed') {
                speedometer.redraw(pid_data[pid]);
            } else if (pid_map[pid] == 'engine-rpm') {
                rpm_gauge.redraw(pid_data[pid]);
            } else if (pid_map[pid] == 'engine-oil-temperature') {
               engine_oil_temp_gauge.redraw(pid_data[pid]); 
            } else {
                document.getElementById(pid_map[pid]).innerText = pid_data[pid];
            }
        }
    };

    if (socket.readyState == WebSocket.OPEN) {
        socket.onopen();
    }

    window.setInterval(poll, 200);

})
</script>
{% endblock extrascript %}
    
<!-- 521079 -->